.App {
  text-align: center;
}

.navbarBackground{
  background-color: black
}

.Button{
  background-color: black;
    border: 4px white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  
  
}

.Button:hover{
  background-color: darkslategray
}
