*{
  font-family: 'Merriweather Sans', sans-serif;
font-family: 'Nunito Sans', sans-serif;
}

.App {
  text-align: center;
}

.homeWrapper{
  display: grid;
  width: 100%;
  grid-template-areas:  "head"
                        "nav"
                        "main"
                        "about"
                        "gallery"
                        "contact"
                        "footer";

  grid-template-rows: 20px 100px 500px 400px 600px 450px 60px;
  grid-template-columns: 1fr; 
}

.contactWrapper{
  display: grid;
  width: 100%;
  grid-template-areas:  "head"
                        "nav"
                        "map"
                        "contact"
                        "footer";

  grid-template-rows: 20px 100px 465px 500px 60px ;
  grid-template-columns: 1fr; 
}


.aboutWrapper{
  display: grid;
  width: 100%;
  grid-template-areas:  "head"
                        "nav"
                        "aboutImage"
                        "aboutBlurb"
                        "aboutGallery"
                        "footer";

  grid-template-rows: 20px 90px 200px 300px 400px 60px ;
  grid-template-columns: 1fr; 
}



.aboutImage{
  grid-area: aboutImage; 
  background-color: #115680;
  background-image: url(./Office/KJS_7308.jpg);
  background-size: 300px 300px;
  position: relative;
  overflow: hidden;
  margin-top: 5px;
}

.aboutOverlay{
  background-color:#115680;
  opacity: 0.8;
  width:100%;
  height:100%;
  position: absolute;
}

.aboutBlurb{
  grid-area: aboutBlurb;
  background-color: #f3f3f3
}

.aboutGallery{
  grid-area: aboutGallery;
  background-color: #fe961b;
  position: relative;
  text-align: center;
}

.reviews{
  grid-area:reviews;
  background-color: #f3f3f3;
}

.head{
  grid-area: head;
  background-color: #fe961b;
}

.nav{
  grid-area: nav;
  background-color: white;
}

.logoWrapper{
  text-align: center;
  margin: 5px 0;
  padding:5px;
  padding: 0px 0px 0px 103px;
}

.logo{
  margin-top:-40px;
  position: relative;
  z-index: -1;
  height: 120px;
}

.main{
  grid-area: main;
  background-color: #115680;
  background-image: url(./Office/KJS_7288.jpg);
  background-size:700px 800px;
  background-position: 50% 75%;
  position: relative;
  overflow: hidden;
}

.colorOverlay{
  background-color:#115680;
  opacity: 0.5;
  width:100%;
  height:100%;
  position: absolute;

}

.about{
  grid-area: about;
  background-color: white;
  z-index: 1;
}



.gallery{
  grid-area: gallery;
  background-color: #fe961b;

}

.imageHolder{
  padding-top: 70px;
}

.officeImg{
  height:200px;
  width:225px;
  border: 5px solid white;
  margin-top: 40px;
}

.signImg{
  height:150px;
  width:225px;
  border: 5px solid white;

}

.rightChair{
  visibility: hidden;
  height:200px;
  width:200px;
  border: 5px solid white;

  
}

.leftChair{
  visibility: hidden;
  height:200px;
  width:200px;
  border: 5px solid white;

}

.contact{
  grid-area: contact;
  background-color: white;

}

.foot{
  grid-area: footer;
  background-color: #292929;
}




.contactMap{
  grid-area: map;
  background-image: url(https://maps.googleapis.com/maps/api/staticmap?center=814+E+Main+St,+Tremonton,+UT+84337&zoom=15&scale=1&size=450x465&maptype=roadmap&key=AIzaSyA-LGAyE_rwI4N7p5x0DdL6XN5I6Ox-hv4&format=png&visual_refresh=true&markers=size:small%7Ccolor:0x115680%7Clabel:1%7C814+E+Main+St,+Tremonton,+UT+84337);
}

.mapLink{
  display:block;
  height:100%;
  width:100%;
  text-indent:-9999px;
}

.header{
  background-color:#fe961b;
  height: 15px;
}

.contactHeader{
  height: 15px;
  display:flex;
  float:left;
  font-size: 10px;
  color:white;
  align-items: center;
  padding:2px;

}



.phone{
 height:12px;
 padding-left:10px;
}

.email{
  height:12px;
  padding-left:10px;
  padding-right:5px;
}

.socialHeader{
  display:flex;
  float:right;
  font-size:10px;
  color:white;
  align-items: center;
  padding-top: 2.5px;
  padding-right: 10px;
}
.facebook{
  height:10px;
  margin-right:10px;
  float:right;
  padding-left:3px;
}

.navButtonHolder{
  padding-top:5px;
  margin-top:-60px;
  
}

div a {
  text-decoration: none;
  font-size: 13px;
  padding-left: 7px;
}

.navButtonAppt{
 display: inline-block;
 padding:0.5em 1em;
 margin:0 -1em 0em -2px;
 border-radius:0.85em;
 border:none;
 box-sizing: border-box;
 text-decoration:none;
 font-weight:300;
 color:#FFFFFF;
 background-color:#115680;
 text-align:center;
 transition: all 0.2s;
 cursor: pointer;
}

.navButton{
  background:none;
  border:none;
  color:#115680;
  cursor: pointer;
}




.navButtonApptMain{
  display: inline-block;
  padding:0.75em 2em;
  margin-top:15%;
  border-radius:0.85em;
  border:none;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  color:#FFFFFF;
  background-color:#fe961b;
  text-align:center;
  transition: all 0.2s;
  position: relative;

}


.mainTitle {
  color:white;
  padding-top:45%;
  position: relative;
  font-family: 'Great Vibes', cursive;
  /* font-family: 'Allura', cursive; */
}

.mainParagraph {
  color:white;
  position: relative;
}

.mainHeader{
  color:#115680;
  padding: 30px 1px 0px;}

.aboutParagraph{
  color:#115680;
  margin: 0px 20px
}

.mainGallery1{
  color:white;

}



.galleryHeading{
  margin:auto;
  width:88%
}

.infoBar{
  background-color:black;
  border-radius: 0.85em;
  color:white;
  margin: auto;
  width:80%;
  padding:12px;
  margin-top:20px;
}


.contactFooter{
  display:flex;
  float:left;
  margin-top:-5px;
  font-size:8px;
  align-items: center;
}

.phoneFooter{
  height: 12px;
}

.emailFooter{
  height: 12px;
  
}


.socialFooter{
  display:flex;
  float:right;
  margin-top:-5px;
  font-size:8px;
  align-items: center;
}
.facebookFooter{
  height: 12px; 
}


.homeContact{
  margin:auto;
  padding-top:20px;

}

.contactField{
  width: 75%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.submitButton{
  display: inline-block;
  padding:0.75em 3em;
  border-radius:0.85em;
  border:none;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  color:#FFFFFF;
  background-color:#115680;
  text-align:center;
  transition: all 0.2s;
}

.messageContactField{
  width: 75%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.aboutText{
  color:white;
  margin: 0 auto;
  max-width: 100%; 
  padding-top: 80px;
  position: relative;
  z-index: 1;
  font-family: 'Great Vibes', cursive;
  font-size: 25px;
}

.aboutBlurb h2 {
  padding-top: 1.5em;
  padding: 0.5em 0.5em 0px;
}

/* .slide{
  width: 100%;
  max-width: 300px;
  height: 100%;
  max-height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.carouselWrapper{
  padding-top: 4em;
  width: 75%;
  margin: 0 auto;
}

.sliderWrapper{
  overflow: hidden;
  width: 300px;
  height: 300px;
  margin: auto;
  border: 10px;
  border-color: #115680;
  position: relative;

}

.arrowLeft{
  float: left;
  z-index: 3;
  position: absolute;
  margin: 140px 100px 0px -160px;
  cursor: pointer;
}

.arrowRight{
  float: right; 
  z-index: 3;
  position: absolute;
  margin: 140px 0px 0px 100px;
  cursor: pointer;
}

.proceduresBanner{
  height:180px;
  width:100%;
  background-color:#115680;
}




@media only screen and (min-width: 350px){
  .logoWrapper {

    padding: 0px 0px 0px 15px;
}
}

@media only screen and (min-width: 375px){
  .homeWrapper{
    display: grid;
    width: 100%;
    grid-template-areas:  "head"
                          "nav"
                          "main"
                          "about"
                          "gallery"
                          "contact"
                          "footer";
  
    grid-template-rows: 20px 100px 500px 300px 600px 450px 60px;
    grid-template-columns: 1fr; 
  }

  .mainHeader{
    padding-top:20px;
  }

  .mainTitle{
    padding-top: 36%;
  }
  

  .mainGallery1{
    color:white;
  
   }

   .logoWrapper{
     padding: 0px 0px 0px 25px;
   }



   .aboutImage{
    background-size: 400px 300px;
  }  

 
}


@media only screen and (min-width: 400px){

  .main{
    margin-top:20px;
  }

  .homeWrapper{
    grid-template-rows: 20px 90px 500px 400px 600px 450px 60px;
  }

  .mainTitle{
    padding-top:35%;
  }

  .galleryHeading{
    padding-top:10px;
  }
  .mainGallery1{
    color:white;
 }

 .signImg {
  height: 170px;
  width: 260px;
  border: 5px solid white;
}

.officeImg {
  height: 200px;
  width: 260px;
  border: 5px solid white;
  margin-top: 40px;
}

    
  .submitButton{
    padding: 0.75em 3em;
  }

  .aboutImage{
    background-size: 500px 300px;
  }  

  .navButtonAppt{
    padding: 0.5em 2.5em;
    margin-top: 3px;
  }



}

@media only screen and (min-width: 768px){

  .main{
    margin-top: 0px;
  }

  .navButtonHolder{
    float: right;
    margin-right: 30px;
    margin-top: 7px;
  }

  .logo{
    height: 165px;
    float:left;
    padding-left:20px;
    margin-top: -55px;
    }


  .homeWrapper{
    grid-template-rows: 20px 65px 500px 300px 350px 500px 70px;
  }



  .mainTitle{
    font-size: 45px;
    padding-top: 15%;
  }

  .mainParagraph{
    font-size: 20px;
    padding: 0px 65px;
  }

  .navButtonApptMain{
    margin-top:5%;
  }

  .mainHeader{
    padding-top:40px;
  }

  .aboutParagraph{
    padding: 0px 40px 
  }

  .mainGallery1{
    font-size:30px;

  }

 .contactWrapper{
   grid-template-rows: 20px 80px 465px 500px 60px;
 }

  .contactField{
    width:85%;
  }

  .messageContactField{
    width:85%;
    height: 85px;
  }

  .aboutWrapper {
    grid-template-rows: 20px 75px 250px 300px 400px 60px;
}
.aboutText {
  margin: 10px auto;
  font-size: 35px;
}

.aboutImage {
  background-size: 800px 300px;
}

.aboutParagraph{
  padding: 0px 75px;
}





}

@media only screen and (min-width: 768px){
 
  .proceduresBanner{
    margin-top: 75px;
  }

  .proceduresWrapper h1 {
    margin-top: 50px;
    line-height: 30px;
  }

  .homeWrapper{
    grid-template-rows: 25px 70px 500px 300px 350px 500px 70px;
  }

  .header{
    height:25px;
  }

  .contactHeader{
    font-size: 12px;
    padding: 4px;
  }

  .socialHeader{
    font-size: 12px;
    padding:4px 30px 0px 0px;
  }

  .facebook{
    margin-right:5px;
    padding-left: 2px;
  }

  .facebookFooter {
    height: 12px;
    padding: 0px 5px 0px 8px;
}

.phoneFooter {
  height: 12px;
  padding: 0px 6px 0px 4px;
}

.emailFooter {
  height: 12px;
  padding: 0px 4px 0px 12px;
  text-shadow: 0 0 black;
}

  .submitButton {
    padding: 1em 4em;
}

  .contactField{
    width:90%;
  }

  .messageContactField{
    width: 90%;
  }

  .main{
    background-size: 1025px 850px;
    background-position: 35% 70%;
  }

  .mainTitle {
    font-size: 50px;
    padding-top: 10%;
}

.navButtonApptMain {
  margin-top: 2%;
  padding: 1em 3em;

}

.navButton{
  font-weight: bold;
}

  .mainHeader {
    padding-top: 20px;
    font-size: 30px;
    
}

  .aboutParagraph {
    padding: 0px 70px;
    font-size: 19px;
}

.contactMap{
background-color: #115680;
background-position: center;
background-repeat:no-repeat;
background-image: url(https://maps.googleapis.com/maps/api/staticmap?center=814+E+Main+St,+Tremonton,+UT+84337&zoom=15&scale=2&size=600x400&maptype=roadmap&key=AIzaSyA-LGAyE_rwI4N7p5x0DdL6XN5I6Ox-hv4&format=png&visual_refresh=true&markers=size:small%7Ccolor:0x115680%7Clabel:1%7C814+E+Main+St,+Tremonton,+UT+84337);
}

.rightChair {
  visibility: visible;
  height: 290px;
  width: 165px;
  border: 5px solid white;
  position: relative;
  right: 540px;
}

.leftChair {
  visibility: visible;
  height: 290px;
  width: 165px;
  border: 5px solid white;
  position: relative;
  top: -306px;
  left: 280px;
}

.imageHolder {
  padding-top: 35px;
}

.officeImg {
  height: 150px;
  width: 260px;
  border: 5px solid white;
  margin-top: 40px;
  position: relative;
  top: 0px;
  right: 45px;
}

.signImg {
  height: 115px;
  width: 260px;
  border: 5px solid white;
  position: relative;
  right: -225px;
  bottom: 180px;
}

.sliderWrapper{
  width:600px;
}

.arrowLeft{

  margin: 140px 100px 0px -315px;
}

.arrowRight{

  margin: 140px 0px 0px 245px;
}


}

@media only screen and (min-width: 899px){

  .leftChair {
    visibility: visible;
    height: 325px;
    width: 180px;
    border: 5px solid white;
    position: relative;
    top: 0px;
    left: 0px;
}

.rightChair {
  visibility: visible;
  height: 325px;
  width: 180px;
  border: 5px solid white;
  position: relative;
  right: 540px;
}

.homeWrapper{
  grid-template-rows: 25px 70px 500px 300px 450px 500px 70px;
}

.signImg {
  height: 130px;
  width: 315px;
  margin-right: -31px;
  border: 5px solid white;
  position: relative;
  right: -315px;
  bottom: 185px;
}

.officeImg {
  height: 175px;
  width: 300px;
  margin-right: -50px;
  border: 5px solid white;
  margin-top: 40px;
  position: relative;
  top: 15px;
  right: -30px;
}

.aboutImage {
  background-size: 1200px 360px;
  background-position: 2% 25%;
}

.aboutWrapper {
  grid-template-rows: 20px 75px 300px 300px 400px 60px;
}

.aboutText {
  margin: 35px auto;
  font-size: 35px;
}

.sliderWrapper{
  width:900px;
}

.arrowLeft{
  margin: 140px 100px 0px -455px;
}

.arrowRight{
  margin: 140px 0px 0px 390px;
}


}

@media only screen and (min-width: 1200px){
  .main {
    background-size: 1474px 1000px;
    background-position: 50% 58%;
}


.homeContact{
  margin: 0px 170px;
}




}

@media only screen and (min-width: 2560px){

  .homeWrapper{
    grid-template-rows: 25px 125px 590px 350px 500px 500px 70px;
  }
  

  .navButton{
    font-size: 25px;
  }

  .navButtonAppt{
    font-size: 25px;
  }

  .navButtonHolder {
    float: right;
    margin-right: 60px;
    margin-top: 25px;
}

  .logo {
    height: 236px;
    float: left;
    padding-left: 20px;
    margin-top: -65px;
}

  .mainTitle {
    font-size: 55px;
    padding-top: 6%;
}

.main {
  background-size: 2020px 1400px;
  background-position: 49% 46%;
}

.submitButton {
  padding: 2em 10em;
}

.aboutParagraph {
  padding: 0px 300px;
  font-size: 19px;
}

.aboutWrapper {
  grid-template-rows: 20px 120px 450px 300px 600px 60px;
}

.aboutImage {
  background-size: 2500px 840px;
  background-position: 0% 40%;
}

.aboutText {
  margin: 100px auto;
  font-size: 72px;
}

.sliderWrapper{
  width:1500px;
  padding-top: 70px;
}

.arrowLeft{
  margin: 140px 100px 0px -745px;
}

.arrowRight{
  margin: 140px 0px 0px 690px;
}



}

.proceduresWrapper{
  position: relative;
  margin-top: 30px;  
}

.proceduresFooter{
  padding: 15px;
  margin-top: 65px;
  background-color: #292929;
}

.proceduresWrapper h2 {
  cursor: pointer;
}

.proceduresWrapper p {
  padding: 0em 1em;
}









